.form-movimentacao {
  max-width: 650px;
  height: 80vh;
  overflow-y: auto;
  margin: 2rem auto 30px auto;
  background-color: #fff;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  font-size: 0.95rem;
  color: #333;
  position: relative;
}

.form-movimentacao::-webkit-scrollbar {
  width: 8px;
}

.form-movimentacao::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.form-movimentacao h2 {
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  color: #ffa600;
  text-align: center;
}

.form-movimentacao label {
  display: block;
  margin: 1rem 0 0.3rem;
  font-weight: bold;
}

.form-movimentacao input,
.form-movimentacao select,
.form-movimentacao textarea {
  width: 100%;
  padding: 10px;
  font-size: 0.95rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.form-movimentacao textarea {
  min-height: 80px;
  resize: vertical;
}

.form-movimentacao input[type="checkbox"] {
  width: auto;
  margin-right: 8px;
  vertical-align: middle;
}

.form-movimentacao label input[type="checkbox"] {
  display: inline-block;
  margin-top: 0.5rem;
  font-weight: normal;
}

.btn-salvar-form {
  margin-top: 20px;
  background-color: #ffa02c;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
  display: block;
  width: 100%;
}

.btn-salvar-form:hover {
  background-color: #cc7c02;
}
.form-movimentacao button:hover {
  background-color: #cc7c02;
}

.input-with-button {
  display: flex;
  align-items: center;
  gap: 10px;
}
.input-with-button select {
  flex: 1;
  height: 40px;
  font-size: 0.95rem;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.input-with-button .select2-container {
  flex: 1 1 auto;
}

.select2-container--default .select2-selection--single {
  height: 40px !important;
  display: flex !important;
  align-items: center !important;
  border: 1px solid #ccc !important;
  border-radius: 4px !important;
  padding: 0 8px !important; 
  font-size: 0.95rem;
  box-sizing: border-box;
}

.select2-selection__rendered {
  padding-left: 0 !important;
  line-height: normal !important;
  display: flex !important;
  align-items: center !important;
  height: 100% !important;
  color: #333;
}


.input-with-button .add-button {
  height: 40px;
  width: 40px;
  background-color: #ffa02c;
  color: #fff;
  font-size: 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  margin-top: 0; 
}

.input-with-button .add-button:hover {
  background-color: #cc7c02;
}

.modal-content h3 {
  margin-bottom: 1rem;
  font-size: 1.4rem;
  color: #050404;
}

.form-modal {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.form-modal input {
  padding: 10px;
  font-size: 0.95rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.btn-salvar {
  background-color: #ffa02c;
  color: white;
  border: none;
  padding: 10px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.btn-salvar:hover {
  background-color: #cc7c02;
}

.material-row {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
  align-items: center;
}

.material-row select.material-select {
  max-width: 50%; 
}

.material-row input[type="number"] {
  max-width: 15%; 
}

.material-select {
  width: 80%;
}

.remove-button {
  background: red;
  color: white;
  border: none;
  padding: 6px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.remove-button:hover {
  background: darkred;
}

.add-button {
  background: #ffa02c;
  color: white;
  border: none;
  padding: 6px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.form-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.form-header .add-button {
  height: 40px;
  width: 40px;
  background-color: #ffa02c;
  color: #fff;
  font-size: 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  margin-top: 0; 
}

@media (max-width: 768px) {
  .form-movimentacao {
    padding: 1.2rem;
}
