.form-movimentacao {
  max-width: 703px;
  height: 90vh;
  overflow-y: auto;
  margin: 2rem auto;
  background-color: #0000007c;
  padding: 2rem;
  border: 1px solid #ffffff;
  border-radius: 9px;
  box-shadow: 0 2px 8px rgb(255, 255, 255);
  font-size: 0.95rem;
  color: #ffffff;
  position: relative;
  margin-bottom: 30px;
}

.form-movimentacao::-webkit-scrollbar {
  width: 6px;
  height: auto;
  color: white
}

.form-movimentacao::-webkit-scrollbar-thumb {
  background-color: rgb(255, 255, 255);
  border-radius: 4px;
  height: auto;
}

.form-movimentacao h2 {
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  color: #ffa600;
  text-align: center;
}

.form-movimentacao label {
  display: block;
  margin: 1rem 0 0.3rem;
  font-weight: bold;
}

.form-movimentacao input,
.form-movimentacao select,
.form-movimentacao textarea {
  width: 100%;
  padding: 10px;
  font-size: 0.95rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.form-movimentacao textarea {
  min-height: 80px;
  resize: vertical;
}

.form-movimentacao input[type="checkbox"] {
  width: auto;
  margin-right: 8px;
  vertical-align: middle;
}

.form-movimentacao label input[type="checkbox"] {
  display: inline-block;
  margin-top: 0.5rem;
  font-weight: normal;
}

.form-movimentacao button {
  margin-top: 2rem;
  background-color: #ffa02c;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
  display: block;
  width: 100%;
}

.form-movimentacao button:hover {
  background-color: #cc7c02;
}

@media (max-width: 768px) {
  .form-movimentacao {
    padding: 1.2rem;
  }
}
